body {
   
	padding-top: 25px;
}
#alfa {
    box-sizing: content-box;   
	margin-left: 15px;
    width: 300px;
    height: auto;
	padding-bottom: 5px;
	
}
select {
    width: 300px;
	height: 22px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#subject {
	margin-top: 5px;
	width: 300px;
	height: 200px;
}

input[type=text]:focus {
    background-color: #f44289;
}
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 11px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #66ccff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  float: right;
}
.button:hover {background-color: #3399ff}

.button:active {
  background-color: #3399ff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}











