body {
   
	padding-top: 25px;
}
#wraper {
	width: 800px;
	height: auto;
	margin: 0 auto;
}

#blok1 {
	float: left;
	text-align: center;
	width: 455px;
	
}
#blok2 {
	float: left;
	text-align: justify;
	width: 455px;
}

#blok3 {
	float: right;
	width: 300px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
	text-align: left;
}





